.widget_categories{
	ul{
		padding-top:5px;
		li{
			@include clearfix;
			margin:9px 0 0;
			&:first-child{
				margin:0;
			}
			&:hover{
				a{
					span{
						background:$color1;
						color:#ffffff;
					}
				}
			}
			a{
				color:$color-body;
				font-size:13px;
				line-height:19px;
				display:block;
				@include transition(0.3s);
				word-break: break-all;
				float: left;
				width: 85%;
				&:hover{
					color:$color1;
				}
				&:before{
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content:'\f196';
					font-size:14px;
					margin:0 12px 0 0;
				}				
			}
			span{
				display:inline-block;
				font-size:13px;
				line-height:18px;
				color:#353535;
				background:#e8e8e8;
				padding:1px 4px;
				min-width:21px;
				text-align:center;
				@include transition(0.3s);
				margin:0 0 0 12px;
			}
		}
	}
}