/**
 * 2.3 Top Carousel
 * -------------------------------------------------------------------
 */

$h1: 658px; //home-top-slider-height
/*--- Top Carousel 1 Controls ---*/
.owl-home-top-carousel.owl-theme {
    position: relative;
    z-index: 5;    
    .owl-controls .owl-pagination {
        .pagination-bg {         
            width: 184px;
            height: 92px;
            bottom: 0;
            left: 50%;
            margin-left: -92px;
            @include before-top(92px, 92px, 92px, $color1);            
            &:before {
                @include before-top(50px, 50px, 50px, rgba(206, 3, 61, 0.7));
                bottom: -92px;
                right: 16px;
            }
            &:after {
                @include before-top(30px, 30px, 30px, rgba(206, 3, 61, 0.7));
                bottom: -92px;
                left: 50px;
            }
        }
        &:after {   
            content: '';
            position: absolute;
            width: 50%;
            height: 14px;
            background-color: $color;
            bottom: 0;
            left: 0;
        }
    }             
    .right-bg {     
        position: absolute;
        top: 0;
        right: 0;
        width: 85px;
        height: 100%;
        background-color: rgba(10, 9, 9, .8);
        &:before {
            @include before-left($h1, 0, $h1, rgba(10, 9, 9, .8));
            right: 100%;
            top: 0;
        }
    }
    .caption {
        position: absolute;
        top: 350px;
        right: 105px;
        width: 290px;
        @include max-width(1023px) {
            top: 270px;
            right: 25px;
            width: 275px;
        }
        h5 {
            font: 45px/45px $font1;
            color: #fff;
            text-transform: none;
            margin-bottom: 20px;
            @include max-width(1023px) {
                font-size: 30px;
                line-height: 35px;
            }
            span {
                color: $color;
            }
        }
        p {
            font-size: 16px;
            color: #797979;
            margin-bottom: 25px;
        }        
    } 
    @include max-width(799px) {
        .right-bg, .caption {
            display: none;
        }
    }
}

/*--- Top Carousel 2 Controls ---*/
.home-top-carousel-2-wrapper {
    position: relative;    
    .pagination-bg {
        width: 184px;
        height: 92px;
        bottom: 0;
        left: 50%;
        margin-left: -92px;
        @include before-top(92px, 92px, 92px, $color1);            
        &:before {
            @include before-top(50px, 50px, 50px, rgba(206, 3, 61, 0.7));
            bottom: -92px;
            right: 16px;
        }
        &:after {
            @include before-top(30px, 30px, 30px, rgba(206, 3, 61, 0.7));
            bottom: -92px;
            left: 50px;
        }
        .left, .right {
            position: absolute;
            content: '';
            display: block;
            width: 252px;            
            height: 14px;
            background-color: $color1;            
            bottom: -92px;
        }
        .left {
            right: 116px;
            &:before {
                @include before-left(14px, 0, 14px, $color1);
                right: 100%;
                top: 0;
            }
            &:after {
                @include before-right(0, 14px, 14px, $color1);
                left: 100%;
                top: 0;
            }
        }
        .right {
            left: 110px;
            &:before {
                @include before-left(0, 14px, 14px, $color1);
                right: 100%;
                top: 0;
            }
            &:after {
                @include before-right(14px, 0, 14px, $color1);
                left: 100%;
                top: 0;
            }
        }
    }
}

/*--- Top Carousel 2 Item ---*/
.owl-home-top-carousel-2 {       
    .entry-item {    
        position: relative;    
        img {
            width: 100%;
        }
        &.active {
            .thumb-hover, .entry-content {
                @include opacity(1);
            }
        }
        .thumb-hover {
            @include thumb-hover(rgba(0, 0, 0, 0.8));
        }
        .entry-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 225px 30px 0;            
            @include opacity(0);
            @include max-width(1119px) {                
                padding-top: 80px;
            }
            @include max-width(799px) {                
                padding-top: 220px;
            }
            @include between-width(480px, 767px) {
                padding-top: 80px;
            }
            .entry-title {
                margin-bottom: 15px;
                a {
                    font: 400 40px/45px $font1;
                    color: #fff;
                    @include a1-hover;
                    @include max-width(1023px) {                        
                        font-size: 30px;
                        line-height: 35px;                        
                    }
                    @include max-width(979px) {
                        line-height: 30px;
                    }
                    @include max-width(799px) {
                        font-size: 40px;
                        line-height: 45px;
                    }
                    @include between-width(480px, 767px) {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }                
            }
            p {
                color: #747474;
                font-size: 15px;
                font-style: italic;
                margin-bottom: 30px;
                @include between-width(800px, 979px) {
                    display: none;
                }
            }
            .read-more {
                display: inline-block;
                height: 28px;
                font: 11px/26px arial;
                color: #fff;
                padding: 0 15px;                
                text-transform: uppercase;
                border: 1px solid $color1;
                background-color: rgba(206, 3, 61, .3);
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }        
}


/*--- Home Top Carousel 2 Responsive ---*/
.owl-home-top-carousel-2 {     
    @include max-width(479px) {
        .entry-item {
            .thumb-hover, .entry-content {
                @include opacity(1);
            }
            .entry-content {
                padding-top: 220px;
                .entry-title a {
                    font-size: 40px;
                    line-height: 45px;
                }
                p {
                    display: block;
                }
            }
        }
        .owl-controls .owl-buttons {
            display: none;
        }
    }
}
